$color-white: #f5f3e8;
$color-black: #2e2e2e;

$primary-color: #648069;
$color-secondary: #747a8e;
$color-secondary-light: lighten($color-secondary, 20%);
$color-secondary-dark: darken($color-secondary, 20%);