.car-card {
    width: 28vw;
    box-shadow: 5px 5px 10px #888888;
    height: 70vh;
    text-align: center;
    background-color: rgb(202, 202, 202);
    padding-top: 20px;
  }
  
  .car-card:hover {
    background-color: rgb(126, 201, 203);
    border: 3px solid burlywood;
  }
  
  .car-card__pic {
    width: 25vw;
  }
  
  h1 {
    font-size: 0.9rem;
    text-transform: uppercase;
  }
  