@use "../../styles/variables" as *;

.car-card {
    width: 28vw;
    box-shadow: 5px 5px 10px #888888;
    height: 450px;
    text-align: center;
    background-color: rgb(202, 202, 202);
    padding-top: 20px;
    color: $color-black;
  }
  
  .car-card__pic {
    height: 28vh;
  }
  
  h1 {
    font-size: 0.9rem;
    text-transform: uppercase;
    
  }

  a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }
  

  @media screen and (max-width: 765px) {
    .car-card {
      width: 35vw;
      height:320px;

    &__pic {
      height:19vh;
    }
    }
  }