@use "../../styles/variables" as *;

body{
    background-color: $color-white;
    text-align: center;
}

.home-text{
    width:50vw;
    margin-left: 25vw;
    
}

.search-bar{
    text-align:right;
    padding-right: 30px;
    padding-top: 20px;
}