@use "../../styles/variables" as *;

body{
    background-color: $color-white;
    text-align: center;
}


.search-bar{
    text-align:right;
    padding-right: 30px;
    padding-top: 20px;
}

@media screen and (max-width: 765px) {
.home-pic{
    width:90vw;
}
}